@import url("bootstrap/dist/css/bootstrap.min.css");
@import url("@fortawesome/fontawesome-free/css/all.css");

/* PRIMARY BUTTON */
.bg-primary {
  background-color: var(--mc-primary) !important;
}

.bg-secondary {
  background-color: var(--mc-secondary) !important;
}

/* PRIMARY BUTTON */
.btn-linear-gradient {
  background-image: linear-gradient(to right, var(--mc-primary), var(--mc-secondary));
  border: none;
}

/* .btn-dark {
  color: var(--bs-light) !important;
}

.btn-light {
  color: var(--bs-dark) !important;
} */

/* .btn, .accordion {
 color: var(--bs-body-color);
} */

.btn-primary {
  --bs-btn-bg: var(--mc-primary);
  --bs-btn-border-color: var(--mc-primary);
  --bs-btn-hover-bg: var(--mc-primary);
  --bs-btn-hover-border-color: var(--mc-primary-border-subtle);
  --bs-btn-disabled-bg: var(--mc-primary-bg-subtle);
}

.btn-outline-primary {
  --bs-btn-border-color: var(--mc-primary-border-subtle);
  color: var(--mc-primary-text-emphasis);
  --bs-btn-hover-bg: var(--mc-primary);
  --bs-btn-hover-border-color: var(--mc-primary);
  --bs-btn-disabled-bg: var(--mc-primary-bg-subtle);
}

.btn-secondary {
  --bs-btn-bg: var(--mc-secondary);
  --bs-btn-border-color: var(--mc-secondary);
  --bs-btn-hover-bg: var(--mc-secondary);
  --bs-btn-disabled-bg: var(--mc-secondary-bg-subtle);
  --bs-btn-hover-border-color: var(--mc-secondary-border-subtle);
}

.btn-outline-secondary {
  --bs-btn-border-color: var(--mc-secondary-border-subtle);
  color: var(--mc-secondary-text-emphasis);
  --bs-btn-hover-bg: var(--mc-secondary);
  --bs-btn-hover-border-color: var(--mc-secondary-border-subtle);
  --bs-btn-disabled-bg: var(--mc-secondary-bg-subtle);
}

/* ALERTS */
.alert-primary {
  --bs-alert-bg: var(--mc-primary-bg-subtle);
  --bs-alert-border-color: var(--mc-primary-border-subtle);
  --bs-alert-color: var(--mc-primary-text-emphasis)
}

.alert-primary .alert-link {
  color: var(--mc-primary-text-emphasis);
}

.alert-secondary {
  --bs-alert-bg: var(--mc-secondary-bg-subtle);
  --bs-alert-border-color: var(--mc-secondary-border-subtle);
  --bs-alert-color: var(--mc-secondary-text-emphasis)
}

.alert-secondary .alert-link {
  color: var(--mc-secondary-text-emphasis);
}

/* ALERTS */
/* .accordion {
  --bs-accordion-active-color: var(--bs-btn-color); 
} */

.pagination {
  --bs-pagination-active-bg: var(--mc-primary);
  --bs-pagination-color: var(--mc-primary-text-emphasis);
  --bs-pagination-active-border-color: var(--mc-primary);
}

.toast-container>:not(:last-child) {
  margin-bottom: 0.3rem !important;
}

.accordion {
  --bs-accordion-active-bg: var(--mc-secondary);
  --bs-accordion-btn-color: var(--bs-body-color);
}

.canvas-container, canvas {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.linear-gradient {
  background-image: linear-gradient(to right, var(--mc-primary), var(--mc-secondary))  !important;
}

.radial-gradient {
  background-image: radial-gradient(circle at center, var(--mc-primary), var(--mc-secondary)) !important;
}

.glass[data-bs-theme=light] .bg,
.glass[data-bs-theme=dark] .bg {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

[data-bs-theme=light] .bg {
  background-color: rgba(var(--bs-light-rgb), 1);
  border-color: rgba(var(--bs-light-rgb), 0.7);
}

[data-bs-theme=dark] .bg {
  background-color: rgba(var(--bs-dark-rgb), 1);
  border-color: rgba(var(-bsc-dark-rgb), 0.7);
}

.glass[data-bs-theme=light] .bg {
  background-color: rgba(var(--bs-light-rgb), 0.4) !important;
}

.glass[data-bs-theme=dark] .bg {
  background-color: rgba(var(--bs-dark-rgb), 0.4) !important;
}

.minesweeper .row:not(:last-child) {
  margin-bottom: 2px;
}

.minesweeper .col:not(:last-child) {
  margin-right: 2px;
}

.numpuz .row:not(:last-child) {
  margin-bottom: 4px;
}

.numpuz .col:not(:last-child) {
  margin-right: 4px;
}

.square-container {
  width: 100%;
  height: 100%;
}

.square {
  width: 100%;
}

.square .inner {
  width: 90%;
  height: 90%;
}

.circle {
  border-radius: 50%;
}

.map {
  min-height: 500px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.clock {
  min-width: 180px;
}

.clock .row, .clock .col-12, .clock .text-center {
  padding: 0;
}

.relative {
  position: relative;
  overflow: hidden;
}

.anim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blur-svg {
  display: none;
}

.back {
  z-index: -99;
}

.front {
  z-index: 99;
}

.shadow-inset {
  box-shadow: inset 0 0 2rem rgba(0,0,0,0.5);
}

/* .btn-rainbow {
  height: 100%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

.rainbow {
  height: 100%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

.rainbow:before { 
  content: "";
  height: 100%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 800% 800%;
  -webkit-animation: rainbowAnim 25s ease infinite;
  -z-animation: rainbowAnim 25s ease infinite;
  -o-animation: rainbowAnim 25s ease infinite;
  animation: rainbowAnim 25s ease infinite;
}

@-webkit-keyframes rainbowAnim {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%;}
  100%{background-position:0% 82%}
}
@-moz-keyframes rainbowAnim {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%;}
  100%{background-position:0% 82%}
}
@-o-keyframes rainbowAnim {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%;}
  100%{background-position:0% 82%}
}
@keyframes rainbowAnim { 
  0%{background-position:0% 82%}
  50%{background-position:100% 19%; }
  100%{background-position:0% 82%}
} */