@import '../Variables.scss';
.page-about {
  > .container {
    padding: 0;
    i {
      font-size: 1.6rem;
      padding: 0.4rem;
    }
    li {
      font-weight: 300;
    }
    .con {
      width: 100%;
      height: 3.5rem;
      position: relative;
      .circle-con {
        position: absolute;
        width: 7rem;
        height: 100%;
        max-width: 150px;
        max-height: 150px;
        bottom: 100%;
      }
    }
  }
}