.page-contact {
    .contact {
        overflow: hidden;
        width: 100%;
        justify-content: flex-end;
        align-items: stretch;
        position: relative;
        .contact-info {
            justify-content: center;
            height: 100%;
            padding: 1rem;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 99;
            .text, input, .btn, textarea {
                opacity: 0.8;
                border: none;
            }
            input::placeholder , textarea::placeholder {
                color: #FFF;
            }
            .text {
                -webkit-text-fill-color: transparent !important;
                -webkit-background-clip: text !important;
            }
        }
    }
    .header, .footer {
        min-height: 5rem;
        position: relative;
        z-index: 99;
    }
    .map-size {
        border-radius: 0;
    }
}
@media (max-width: 568px) {
    .page-contact {
        .map-size {
            height: 300px !important;
        }
        .contact {
            flex-wrap: wrap;
            .contact-info {
                justify-content: center;
                height: 450px;
                width: 100%;
                max-width: 100%;
                position: relative;
                z-index: 999;
                form {
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}