@import '../Variables.scss';
.page-portfolio {
    > .container {
        > .flex-center {
            min-height: 700px;
            flex-wrap: wrap;
            justify-content: center;
            .card-container {
                border-radius: $radious;
                box-shadow: 0 0 15px #000;
                margin: 1rem 0.5rem;
                width: 22%;
                min-width: 250px;
                overflow: hidden;
                align-items: center;
                i {
                    margin: 0.3rem 0.3rem;
                    font-size: 0.8rem;
                    -webkit-text-fill-color: transparent !important;
                    -webkit-background-clip: text !important;
                }
                i.large {
                    font-size: 1.7rem;
                }
                .img-container {
                    border-radius: $radious;
                    border: solid 5px;
                    height: 400px;
                    overflow: hidden;
                }
            }
        }
    }
}