$primary: #1869da;
$secondary: #505050;
$radious: 4px;
$padding: 10px 20px;
*, html, body, pre, code {
  font-size: calc(13px + 0.6vw);
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app {
  width: 100%;
}
.main-nav {
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  li {
    margin: 0 20px;
    color: #1869da;
  }
}

input {
  border: none;
  padding: $padding;
  border-radius: $radious;
}

.theme {
  background-color: #30303099;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 20px;
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .single {
    position: relative;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    border: none;
  }
  .single.active {
    animation: glow 1s ease-in-out infinite alternate;
  }
  i {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: calc(30px + 4vw);
  }
  .small {
    animation: spin 10s linear infinite;
  }
  .median {
    transform: translate(-50%,-50%) scale(0.4);
    opacity: 0.3;
  }
  .large {
    animation: spin-rev 10s linear infinite;
    opacity: 0.8;
  }
}
@keyframes spin {
  from {transform: translate(-50%,-50%) scale(0.3) rotate(360deg);}
  to {transform: translate(-50%,-50%) scale(0.3) rotate(0);}
}
@keyframes spin-rev {
  from {transform: translate(-50%,-50%) rotate(0);}
  to {transform: translate(-50%,-50%) rotate(360deg);}
}
@keyframes glow {
  from {
    box-shadow: 0 0 10px #fff, 0 0 30px #fff, 0 0 50px #e60073, 0 0 70px #e60073, 0 0 90px #e60073, 0 0 110px #e60073;
  }
  to {
    box-shadow: 0 0 20px #fff, 0 0 40px #fff, 0 0 60px #ff4da6, 0 0 80px #ff4da6, 0 0 100px #ff4da6, 0 0 120px #ff4da6;}
}
