$radious: 4px;
$padding: 10px 20px;
*, html, body, pre, code {
  font-size: calc(13px + 0.6vw);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app {
  width: 100%;
}
.main-nav {
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  li {
    margin: 0 20px;
  }
}

input {
  border: none;
  padding: $padding;
  border-radius: $radious;
}

.theme {
  background-color: #666;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 40px 20px;

  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .single {
    position: relative;
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    border: none;
  }
  i {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: calc(30px + 3vw);
  }
  .small {
    animation: spin 10s linear infinite;
  }
  .median {
    transform: translate(-50%,-50%) scale(0.4);
    opacity: 0.3;
  }
  .large {
    animation: spin-rev 10s linear infinite;
    opacity: 0.8;
  }
}
@keyframes spin {
  from {transform: translate(-50%,-50%) scale(0.3) rotate(360deg);}
  to {transform: translate(-50%,-50%) scale(0.3) rotate(0);}
}
@keyframes spin-rev {
  from {transform: translate(-50%,-50%) rotate(0);}
  to {transform: translate(-50%,-50%) rotate(360deg);}
}