

.idea
client/.idea
client/node_modules
client/.env
client/build
client/package-lock.json

next/.idea
next/out/
next/.next/
next/node_modules
next/.env
next/build
next/package-lock.json
next/.env*.local
next/.env.local
next/coverage
next/npm-debug.log*
next/.vercel

server/*.pyc
server/.env
server/__pycache__
server/*/__pycache__
server/*/__pycache__/*
server/static
server/log
server/.idea
server/*/migrations