client/node_modules
client/.env
client/build
client/package-lock.json
server/*.pyc
server/.env
server/__pycache__
server/*/__pycache__
server/docker-compose.yml
server/static
server/log
server/.idea
server/*/migrations