.bar-container {
  .bar {
    .progress {
      font-size: 0.5rem;
      color: #FFF;
      padding: 0 7px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      border-radius: 15px;
      overflow: hidden;
      line-height: 0.7rem !important;
    }
  }
}