.controller {
  width: 100%;
  div {
      font-size: 1.5rem;
      i {
        font-size: 1.5rem;
      }
  }
}
.square {
  justify-content: center;
  .row {
    width: 100%;
    .digit {
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;  /* <- here it is */
      margin: 2px;
      border-radius: 3px;
      cursor: pointer;
      font-size: 0.7rem;
      .fa-bomb {
          background: none !important;
          font-size: 1.3rem;
      }
    }
  }
}
.controller {
  width: 100%;
  flex-wrap: wrap;
}
.modal {
  h2 {
    padding-bottom: 0 !important;
  }
  .help {
    padding: 1rem 2rem;
    p {
      font-size: 0.9rem;
    }
  }
}