.controller {
  width: 100%;
  div {
      font-size: 1.5rem;
      i {
        font-size: 1.5rem;
      }
  }
}
.square {
  justify-content: center;
  .row {
    width: 100%;
    .digit {
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;  /* <- here it is */
      border-radius: 3px;
      border: 2px solid;
      cursor: pointer;
      font-size: 0.7rem;
      .fa-bomb {
        background: none !important;
        font-size: 1.3rem;
      }
    }
  }
}
.controller {
  width: 100%;
  flex-wrap: wrap;
  .select-field {
    width: 48%;
  }
  .btn {
    width: 48%;
  }
}