.numpuz {
  .body {
    .square {
      .row {
        width: 100%;
      }
      .cell {
        margin: 2px;
        border-radius: 7px;
      }
    }
    .timer {
      font-size: 1.5rem;
    }
  }
  li {
    margin-bottom: 0.5rem;
  }
}