@import '../Variables.scss';
.temp-cont {
    position: absolute;
    z-index: 1;
    margin-top: -3rem;
    align-self: center;
    align-items: center;
}
.temp {
    align-items: flex-start;
    .header {
        h1, h3 {
            padding: 0;
        }
    }
    .water-circle {
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: 45%;
      bottom: 35%;
      left: -50%;
      height: 200%;
      width: 200%;
    }
    .water-circle.one {
      animation: rotate 8s linear infinite;
      border-radius: 42%;
    }
    .water-circle.two {
      animation: rotate 8s linear  infinite;
      border-radius: 35%;
      opacity: 0.5;
    }
    .box-shadow {
      border-radius: 50%;
      box-shadow: inset 0 0 2rem rgba(0,0,0,0.5);
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
    }
    .water {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 50%;
    }
    .history {
        .list-outer {
            padding: 0.5rem;
            width: 100%;
            margin: 0.6rem 0;
            border-radius: $radious;
            .list-inner {
              width: 100%;
              flex-wrap: nowrap;
              border-radius: $radious;
              .image {
                width: 50px;
                height: 50px;
              }
              .container {
                width: calc(100% - 170px);
                .table {
                  span {
                    font-size: 0.7rem;
                  }
                  .one {
                    width: 50%;
                  }
                  .two {
                    width: 50%;
                    text-align: right;
                  }
                }
              }
            }
        }
        .pagination {
            padding: 10px 0 !important;
            width: 100%;
            display: flex !important;
            justify-content: space-between;
            li {
              opacity: 0.6;
              box-shadow: 0 0 5px rgba(0,0,0,0.5);
              border-radius: $radious;
            }
            li.active {
              opacity: 1;
            }
            li.disabled {
              opacity: 0.1;
              pointer-events: none;
            }
        }
    }
}