@import 'Variables.scss';
*, html, body, pre, code {
  font-size: calc(10px + 0.5vw);
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5rem;
}
#app {
  width: 100%;
}
.header, .footer {
  width: 100%;
  min-height: 70px;
  padding: 1rem;
}
.image {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.header-image {
    min-height: 15rem;
}
section {
  overflow: hidden;
  width: 100%;
  margin: 2rem 0;
  .content {
    width: 100%;
    height: auto;
    min-height: 500px;
    padding: 20px;
  } 
}
input {
  border: none;
  padding: $padding;
  border-radius: $radious;
  &:hover, &:active, &:focus, &:visited, &:focus-within, &:focus-visible {
    outline: none !important;
}
}
.page {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 3rem 0;
  svg {
    display: none;
  }
}

.bg {
  position: fixed;
  overflow: hidden;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100vh;
  filter: url('#filter');
  opacity: 0.3;
  .cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    animation: 100s linear infinite rotate;
    .ball {
        @for $i from 1 through 20 {
            &:nth-child(#{$i}) {
                @if $i % 2 == 0 {
                    animation: leftright 50s linear infinite;
                } @else {
                    animation: updown 40s linear infinite;
                }
            }
        }
        position: absolute;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 1);
    }
  }
}
.content {
    width: 100%;
    position: relative;
    z-index: 1;
}
.container {
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin: 1rem;
    border-radius: $radious;
    overflow: hidden;
}
.m-10 {
    margin: 10px 0;
}
img {
    width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h5, p, ul {
    padding-bottom: 0.7rem;
}
h1 {
    font-size: 2.5rem;
    line-height: 2.8rem;
}
h2 {
    font-size: 2.1rem;
    line-height: 2.4rem;
}
h3 {
    font-size: 1.6rem;
    line-height: 2rem;
}
h4 {
    font-size: 1.3rem;
    line-height: 1.6rem;
}
p {
    font-weight: 300;
}
strong {
    font-weight: 900;
}
.shadow-xs {
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
}
.shadow-s {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.shadow-m {
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
}
.shadow-l {
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
}
.shadow-xl {
    box-shadow: 0 0 25px rgba(0,0,0,0.8);
}
.notebook {
    div {
        border-radius: $radious;
    }
    @for $r from 6 through 1 {
        .layer-#{$r} {
            transform: rotate(#{$r}deg);
        }
    }
    .notebook-content {
        padding: 2rem;
        transform: rotate(-21deg);
    }
}
.w-10, .w-20, .w-30, .w-40, .w-50, .w-60, .w-60, .w-80, .w-80, .w-90 {
    padding: 1rem;
    border-radius: $radious;
    margin: 1rem 0.5%;
}
.w-100 {
    padding: 1rem;
    border-radius: $radious;
}
.w-10 {
    width: 9%;
}
.w-20 {
    width: 19%;
}
.w-30 {
    width: 29%;
}
.w-40 {
    width: 39%;
}
.w-50 {
    width: 49%;
}
.w-60 {
    width: 59%;
}
.w-70 {
    width: 69%;
}
.w-80 {
    width: 79%;
}
.w-90 {
    width: 89%;
}
.w-100 {
    width: 100%;
}
.cir {
    height:0;
    border-radius:50%;
}
.cir-xl {
    width: 100%;
    padding: 50% 0;
}
.cir-l {
    width: 90%;
    padding:  45% 0;
}
.cir-ml {
    width: 85%;
    padding:  42.5% 0;
}
.cir-m {
    width: 80%;
    padding: 40% 0;
}
.cir-s {
    width: 70%;
    padding: 35% 0;
}
.cir-xs {
    width: 60%;
    padding: 30% 0;
}
.anim {
    overflow: hidden;
    position: relative;
}
.modal {
    &:hover, &:active, &:focus, &:visited, &:focus-within, &:focus-visible {
        border: none !important;
        outline: none !important;
    }
    border: none !important;
    width: 90%;
    max-width: 750px;
    border-radius: $radious;
    overflow: hidden;
    .heading {
        min-height: 60px;
        position: relative;
        align-items: flex-end;
        position: relative;
        margin: 0 2rem;
        color: #FFF;
        p {
            font-size: 1.5rem;
            margin-bottom: -0.7rem;
        }
        .left, .right {
            position: absolute;
            width: 2rem;
            height: 100%;
            top: 0;
        }
        .left {
            left: -2rem;
        }
        .right {
            right: -2rem;
        }
    }
    .break {
        height: 2rem;
        width: 100%;
    }
    .grad {
        height: 100%;
        margin: 0 2rem;
    }
    .body {
        min-height: 100px;
        flex-wrap: wrap;
        .controller {
            width: 100%;
        }
    }
}
.overlay {
    z-index: 98;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.flex-col {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.select-field div {
    font-size: 1rem !important;
}
.select-field {
    width: 100%;
    max-width: 150px;
}
.rec-swipable {
    padding-top: 1rem;
}
.appnav {
    i {
        -webkit-text-fill-color: transparent !important;
        -webkit-background-clip: text !important;
        padding-bottom: 1rem;
    }
    h4 {
        -webkit-text-fill-color: transparent !important;
        -webkit-background-clip: text !important;
    }
}
.css-1utlbt5-control {
    border: none !important;
}
.css-yk16xz-control {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $radious;
    border: none;
    width: 100%;
    max-width: 150px;
}
form :is(input, select, button, textarea, select, option, .btn) {
    padding: 7px 20px;
    margin: 4px 0 !important;
    border-radius: $radious;
    width: 100%;
    max-width: 280px;
    color: #666;
}
.btn {
    padding: 7px 0 7px 25px !important;
    position: relative;
    margin: 0 0 0.3vw 2px;
    border-radius: $radious;
    border: none;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover, &:active, &:focus, &:visited, &:focus-within, &:focus-visible {
        border: none !important;
        outline: none !important;
    }
}
.btn:after {
    content: '\00bb';
    padding-left: 10px;
    opacity: 0;
    transform: scale(1.5);
    font-weight: 900;
    transition: all 1s;
}
.btn:hover::after {
    opacity: 1;
    padding-right: 25px;
}
.btn:hover {
    color: #FFF;
}
.rotate {
    animation: rotate 5s linear infinite;
}
.rec-carousel {
    > button {
        border: none;
        box-shadow: none;
        background: none;
        font-size: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -10%;
        &:hover, &:active, &:focus, &:visited {
            background: none !important;
            box-shadow: none !important;
        }
    }
}
.appnav {
    list-style-type: none;
    li {
        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            i {
                font-size: 3rem;
            }
        }
    }
}
.hero-banner {
    width: 100%;
    height: 100vh;
    margin: 0 !important;
    min-height: 500px;
    justify-content: center;
}
@media (max-width:768px) {
	.w-10, .w-20, .w-30, .w-40, .w-50, .w-60, .w-60, .w-80, .w-80, .w-90 {
        width: 98%;
        margin: 1rem 1%;
    }
}
@media (max-width:568px) {
    .notebook {
        .notebook-content {
            padding: 1rem;
        }
    }
}