$radious: 4px;
$padding: 10px 20px;
*, html, body, pre, code {
  font-size: calc(10px + 0.5vw);
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app {
  width: 100%;
}
.header, .footer {
  width: 100%;
  min-height: 70px;
}
.header {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.footer {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.section {
  overflow: hidden;
  width: 100%;
  padding: 30px 0;
  .content {
    width: 100%;
    height: auto;
    min-height: 500px;
    padding: 20px;
  } 
}
input {
  border: none;
  padding: $padding;
  border-radius: $radious;
}
.page {
  width: 100%;
  height: auto;
  overflow: hidden;
  svg {
    display: none;
  }
}

.bg {
  position: fixed;
  overflow: hidden;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100vh;
  filter: url('#filter');
  opacity: 0.3;
  .cont {
    position: absolute;
    top: -5vw;
    left: -5vw;
    width: 110vw;
    height: 110vw;
    animation: 100s linear infinite rotate;
    .ball {
      position: absolute;
      animation: move3 30s linear 0s infinite;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 1);
    }
  }
}
.container {
    width: 100%;
    max-width: 1140px;
    position: relative;
    margin: 0 7px;
    z-index: 1;
}
.m-20 {
    margin: 20px 0;
}
img {
    width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h5, p {
    padding-bottom: 0.7rem;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.7rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.3rem;
}
p {
    font-weight: 300;
}
.circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    // opacity: 1 !important;
    .grad {
        width: 90%;
        height: 90%;
        border-radius: 50%;
        .inner-circle {
            width: 85%;
            height: 85%;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
        }
    }
}
.modal {
    &:hover, &:active, &:focus, &:visited, &:focus-within, &:focus-visible {
        border: none !important;
        outline: none !important;
    }
    border: none !important;
    width: 90%;
    max-width: 750px;
    border-radius: 5px;
    overflow: hidden;
    .heading {
        min-height: 60px;
        position: relative;
        align-items: flex-end;
        position: relative;
        margin: 0 2rem;
        p {
            font-size: 1.5rem;
            margin-bottom: -0.7rem;
        }
        .left, .right {
            position: absolute;
            width: 2rem;
            height: 100%;
            top: 0;
        }
        .left {
            left: -2rem;
        }
        .right {
            right: -2rem;
        }
    }
    .break {
        height: 2rem;
        width: 100%;
    }
    .grad {
        height: 100%;
        margin: 0 2rem;
    }
    .body {
        min-height: 100px;
        flex-wrap: wrap;
        .controller {
            width: 100%;
        }
    }
}

.overlay {
    z-index: 98;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.flex-col {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.select-field div {
    font-size: 1rem !important;
}
.select-field {
    width: 100%;
    max-width: 150px;
}
.css-1utlbt5-control {
    border: none !important;
}
.css-yk16xz-control {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: none;
    width: 100%;
    max-width: 150px;
}
form input, form select, form button, form textarea, select, option {
    // width: 100%;
    padding: 7px 20px;
    margin-bottom: 4px !important;
    margin-top: 4px !important;
    border-radius: 5px;
    max-width: 280px;
    color: #666;
}
.btn {
    padding: 7px 0 7px 25px !important;
    position: relative;
    margin: 0 0 0.3vw 2px;
    border-radius: 5px;
    border: none;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover, &:active, &:focus, &:visited, &:focus-within, &:focus-visible {
        border: none !important;
        outline: none !important;
    }
}
.btn:after {
    content: '\00bb';
    padding-left: 10px;
    opacity: 0;
    transform: scale(1.5);
    font-weight: 900;
    transition: all 1s;
}
.btn:hover::after {
    opacity: 1;
    padding-right: 25px;
}
.btn:hover {
    color: #FFF;
}
.rotate {
    animation: rotate 5s linear infinite;
}
.rec-carousel {
    > button {
        border: none;
        box-shadow: none;
        background: none;
        font-size: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -10%;
        &:hover, &:active, &:focus, &:visited {
            background: none !important;
            box-shadow: none !important;
        }
    }
}