@import 'Variables.scss';
section {
  overflow: hidden;
  .content {
      width: 100%;
      height: auto;
      min-height: 500px;
      padding: 20px;
  } 
}
input {
  border: none;
  padding: $padding;
  border-radius: $radious;
  &:hover, &:active, &:focus, &:visited, &:focus-within, &:focus-visible {
      outline: none !important;
  }
}
input[type="color"] {
  height: 2.5rem;
  border-radius: calc(2.5rem / 2) !important;
}
input[type="color" i] {
  border-radius: 10px;
}
ul {
  margin-bottom: 0;
  list-style-type: none;
}
img {
  width: 100%;
  height: auto;
}
a {
  text-decoration: none !important;
}
span.invalid-field-warning {
  color: red !important;
}
input.invalid-field, .invalid-field {
  border: solid 1px red !important;
  color: red !important;
}
form :is(input, select, button, textarea, select, option, .btn) {
  padding: 7px 20px;
  margin: 4px 0 !important;
  border-radius: $radious;
  width: 100%;
  max-width: 280px;
  color: #666;
}
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin: 1.5rem 0;
}
section.container-fluid {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.shadow {
  box-shadow: 0 0 0.6rem rgba(0,0,0,0.5) !important;
  border-radius: $radious;
}
#app {
  width: 100%;
  svg.blur-svg {
    display: none;
  }
}
.header, .footer {
  width: 100%;
  min-height: 70px;
}
.image {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.header-image {
  min-height: 15rem;
}
.page {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.glass {
  backdrop-filter: blur(15px);
}
.blob-container {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: url('#filter');
  opacity: 0.5;
}
.blob-single {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .ball {
    position: absolute;
    border-radius: 50%;
  }
}
.flame-container {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  .ember {
    border-radius: 50%;
    mix-blend-mode: screen;
    opacity: 0;
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 50%;
  }
  .ember {
    animation: fire 1s ease-in infinite;
  }
}
.content {
  width: 100%;
  position: relative;
  z-index: 1;
}
.container {
  border-radius: $radious;
  overflow-x: hidden;
}
.notebook {
  div {
    border-radius: $radious;
  }
  @for $r from 6 through 1 {
    .layer-#{$r} {
      transform: rotate(#{$r}deg);
    }
  }
  .notebook-content {
    padding: 2rem;
    transform: rotate(-21deg);
  }
}
.anim {
  overflow: hidden;
  position: relative;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}
.overlay {
  z-index: 98;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .modal {
    position: static;
    display: block;
    height: auto;
    &:hover, &:active, &:focus, &:visited, &:focus-within, &:focus-visible {
      border: none !important;
      outline: none !important;
    }
    border: none !important;
    width: 90%;
    max-width: 750px;
    border-radius: $radious;
    overflow: hidden;
    .heading {
      min-height: 60px;
      position: relative;
      align-items: flex-end;
      position: relative;
      padding-top: 2rem;
      margin: 0 2rem;
      color: #FFF;
      p {
        font-size: 1.5rem;
        margin-bottom: -0.7rem;
      }
      .left, .right {
        position: absolute;
        width: 2rem;
        height: 100%;
        top: 0;
      }
      .left {
        left: -2rem;
      }
      .right {
        right: -2rem;
      }
    }
    .break {
      height: 2rem;
      width: 100%;
    }
    .grad {
      height: 100%;
      margin: 0 2rem;
    }
    .body {
      min-height: 100px;
      flex-wrap: wrap;
      .controller {
        width: 100%;
        padding: 1rem 0;
      }
    }
  }
}
.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.flex-col {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
}
.flex-col-center {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.select-field div {
  font-size: 1rem !important;
}
.select-field {
  width: 100%;
  max-width: 150px;
}
.rec-swipable {
  padding-top: 1rem;
}
.appnav {
  padding-left: 0;
  li {
    padding: 1rem;
  }
  i {
    -webkit-text-fill-color: transparent !important;
    -webkit-background-clip: text !important;
    padding-bottom: 1rem;
  }
  h4 {
    -webkit-text-fill-color: transparent !important;
    -webkit-background-clip: text !important;
  }
}
.css-1utlbt5-control {
  border: none !important;
}
.css-yk16xz-control {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $radious;
  border: none;
  width: 100%;
  max-width: 150px;
}
.btn {
  padding: 7px 0 7px 25px !important;
  position: relative;
  margin: 0.3rem;
  border-radius: $radious;
  border: none;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover, &:active, &:focus, &:visited, &:focus-within, &:focus-visible {
    border: none !important;
    outline: none !important;
  }
}
.btn:after {
  content: '\00bb';
  padding-left: 10px;
  opacity: 0;
  transform: scale(1.5);
  font-weight: 900;
  transition: all 1s;
}
.btn:hover::after {
  opacity: 1;
  padding-right: 25px;
}
.btn:hover {
  color: #FFF;
}
.rotate {
  animation: rotate 5s linear infinite;
}
.wave-section {
  width: 100%;
  height: 150px;
}
.wave-top {
  transform: rotate(180deg);
  margin-bottom: -1rem;
}
.rec-carousel {
  > button {
    border: none;
    box-shadow: none;
    background: none;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -10%;
    &:hover, &:active, &:focus, &:visited {
      background: none !important;
      box-shadow: none !important;
    }
  }
}
.appnav {
  list-style-type: none;
  li {
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      i {
        font-size: 3rem;
      }
    }
  }
}
.hero-banner {
  margin: 0 !important;
  padding-top: 16vw !important;
  padding-bottom: 16vw !important;
  .container {
    overflow: visible !important;
  }
}
.clock {
  align-items: stretch;
  padding: 4px 0;
  .digit {
    .number {
      font-size: 0.9rem;
      margin-bottom: -0.5rem;
    }
    .title {
      font-size: 0.6rem;
    }
  }
}
.circle {
  border-radius: 50%;
  width: 100%;
  .inner {
    width: 90%;
    height: 90%;
  }
}
// Animations
.liquid-container {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  .liquid {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  .rotator {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 45%;
    bottom: 40%;
    left: -50%;
    height: 200%;
    width: 200%;
    animation: rotate 8s linear infinite;
  }
  .rotator.one {
    border-radius: 42%;
  }
  .rotator.two {
    border-radius: 35%;
    opacity: 0.5;
  }
}
@media (max-width:768px) {
	.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
}
@media (max-width:568px) {
  .notebook {
    .notebook-content {
      padding: 1rem;
    }
  }
}