@keyframes spin2 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}
@keyframes spin {
  from {
    transform: translate(-50%,-50%) scale(0.3) rotate(360deg);
  }
  to {
    transform: translate(-50%,-50%) scale(0.3) rotate(0);
  }
}
@keyframes spin-rev {
  from {
    transform: translate(-50%,-50%) rotate(0);
  }
  to {
    transform: translate(-50%,-50%) rotate(360deg);
  }
}
@keyframes wave {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50%);
  }
}
@keyframes move {
  0% {
    top: 0;
  }
  50% {
    top: 20%;
  }
  100% {
    top: 0;
  }
}
@keyframes move2 {
  0% {
    top: 0;
  }
  50% {
    top: -20%;
  }
  100% {
    top: 0;
  }
}
@keyframes leftright {
  0% {
    transform: translateX(0) rotate(0);
  }
  25% {
    transform: translateX(150%);
  }
  75% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0) rotate(360deg);
  }
}
@keyframes updown {
  0% {
    transform: translateY(0) rotate(0);
  }
  25% {
    transform: translateY(150%);
  }
  75% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(0) rotate(360deg);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}