.board {
  width: calc(230px + 15vw);
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .status {
    width: 100%;
      div {
          font-size: 1.5rem;
          i {
            font-size: 1.5rem;
          }
      }
  }
  .body {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    flex-direction: column;
    .bd-col {
      display: flex;
      // flex-direction: column;
      .digit {
        width: 3vw;
        min-width: 20px;
        height: 3vw;
        min-height: 20px;
        margin: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        cursor: pointer;
        font-size: 0.7rem;
        .fa-bomb {
            background: none !important;
            font-size: 1.3rem;
        }
      }
    }
  }
  .controller {
    width: 100%;
    flex-wrap: wrap;
  }
}
.modal {
  h2 {
    padding-bottom: 0 !important;
  }
  .help {
    padding: 1rem 2rem;
    p {
      font-size: 0.9rem;
    }
  }
}