.board {
  width: calc(230px + 15vw);
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .status {
    width: 100%;
      div {
          font-size: 1.5rem;
      }
  }
  .body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .digit {
      width: calc((230px + 15vw) / 10.5);
      height: calc((230px + 15vw) / 10.5);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-radius: 5px;
      margin: 2px 0;
      font-size: 0.7rem;
    }
  }
  .controller {
    width: 100%;
    flex-wrap: wrap;
  }
}